In [19]:
import pandas as pd
from pandas import Series, DataFrame

import numpy as np

In [4]:
obj = Series([4, 7, -5, 3])

In [38]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [6]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [37]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [8]:
obj.values

array([ 4,  7, -5,  3])

In [10]:
obj2 = Series([3, 5, 6, 7,8], index=['a', 'b', 'c', 'd', 'e'])

In [11]:
obj2.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

In [13]:
obj[1], obj2['c']

(7, 6)

In [14]:
obj2['d']=100

In [15]:
obj2

a      3
b      5
c      6
d    100
e      8
dtype: int64

In [16]:
obj2[obj2>5]

c      6
d    100
e      8
dtype: int64

In [17]:
obj2*2

a      6
b     10
c     12
d    200
e     16
dtype: int64

In [20]:
np.exp(obj2)

a    2.008554e+01
b    1.484132e+02
c    4.034288e+02
d    2.688117e+43
e    2.980958e+03
dtype: float64

In [21]:
'b' in obj2

True

In [22]:
'f' in obj2

False

## Series can be created using python dict

In [23]:
sdata = {'Ohio':35000, 'Texas':71000, 'Oregon':16000, 'Utah':5000}

obj3 = Series(sdata)

In [24]:
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [26]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

onj4 = Series(sdata, index=states)

onj4

California      NaN
Ohio          35000
Oregon        16000
Texas         71000
dtype: float64

In [27]:
obj_n = obj3 +onj4

In [28]:
obj_n

California       NaN
Ohio           70000
Oregon         32000
Texas         142000
Utah             NaN
dtype: float64

In [31]:
obj_n.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
Utah           True
dtype: bool

In [34]:
obj_n.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
Utah          False
dtype: bool

In [35]:
obj_n.name = 'population'
obj_n.index.name = 'state'

In [36]:
obj_n

state
California       NaN
Ohio           70000
Oregon         32000
Texas         142000
Utah             NaN
Name: population, dtype: float64